<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843102973143-j809fvfp57eig9tdh83a69qiq4c0dqdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843102973143-j809fvfp57eig9tdh83a69qiq4c0dqdk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843102973143-4p7oerh1lbgbbm5jd0d5l6ul08e41fqi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1DTcQXRKKmfxzj_gUIlvKhOl8Os_jjwU</string>
	<key>GCM_SENDER_ID</key>
	<string>843102973143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.three</string>
	<key>PROJECT_ID</key>
	<string>loginwithusernamefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithusernamefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843102973143:ios:917b44ffef15a36e711492</string>
	<key>DATABASE_URL</key>
	<string>https://loginwithusernamefirebase-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>